
<div>
	<select id = "selectBusca" class="form-control" ng-model="busca.tipoBusca" ng-options = "opcao.op for opcao in listOpcoes">
			<option value = ""> Filtro</option>
	</select>

	<input id = "campoBusca" class="form-control" type="text" ng-model="palavraBusca" placeholder="Digite aqui o que está procurando" />
	<button id = "botaoPesquisaSolicitacao" style = "margin-top: 20px; al " class = "btn btn-primary btn-block"   ng-click = "             pesquisarLicitacao(palavraBusca,busca.tipoBusca.op2)">Pesquisar</button>

	<div class = "jumbotron">
		<table id= "tabelaLicitacao" class="table table-striped">
			<tr>
				<th><a href="" ng-click = OrdenarPor('_id')> Id</a></th>
				<th >Titulo</th>
				<th style="text-align: center "> Descrição</th>
				<th><a href="" ng-click = OrdenarPor('deliveryDate')> Data de Entrega</a></th>
			</tr>
			<tr ng-repeat="licitacao in listaLicitacao | orderBy:criterioDeOrdenacao:direcaoOrdenacao">
				<td>{{licitacao._id}}</td>
				<td>{{licitacao.title}}</td>
				<td>{{licitacao.description}}</td>
				<td>{{licitacao.deliveryDate | date:'dd/MM/yyyy'}}</td>
			</tr>
		</table>
	</div>
</div>
